#companies {
  background-color: #f5f5fb !important;
  //   height: 100vh;
  .addOrganization {
    position: relative;
    background: #3c44b1;
    // height: 200px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    // padding: 70px 120px !important;
    padding: 70px 200px 70px 120px !important;
    .editContainer {
      position: absolute;
      top: 40px;
      right: 60px;
    }
    .box {
      background-color: #fff;
      border-radius: 50%;
      height: 130px;
      width: 130px;
    }
    .organizationName {
      font-size: 20px;
      line-height: 29px;
      font-weight: bold;
      font-family: "heebo";
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 10px !important;
    }
    .owner {
      color: #fff;
      font-size: 12px;
      font-family: "heebo";
      font-weight: 400;
      margin-bottom: 8px;
    }
  }
  .tableContainer {
    background: #fff;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-bottom: 20px !important;
    // overflow: scroll;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  .table.table-alternate-spaced tbody tr td:last-child::before {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: #e6e7f1 solid 0px !important;
    border-radius: 0;
  }
  .table.table-alternate-spaced tbody tr td:first-child::before {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: #e6e7f1 solid 0px !important;
    border-radius: 0;
  }
}
